/* add your CSS here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

.container {
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 300px;
    margin: 1em;
    padding: 0.65em;
    color: #0D121C;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 2px lightgray;
    background-color: #FCFCF8;
    background-image: linear-gradient(to bottom, #FEFEFC 0%, #DBE2EC 100%);
}

.image {
    width: 300px;
    border-radius: 8px;
    padding-bottom: 0.5em;
}

.info-container {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 0 0.5em 0 0.5em;
}

.fact {
    font-style: italic;
}

ul {
    list-style-type: none;
    margin-left: -9px;
    padding: 0 0.5em 0 0.5em;
}

li {
    padding: 0.1em;
}

ul span {
    font-weight: bold;
}